menuconfig RT_SOC_ROCKCHIP
    bool "RockChip"
    default n

if RT_SOC_ROCKCHIP
config RT_SOC_ROCKCHIP_FIQ_DEBUGGER
    bool "FIQ Debugger"
    select RT_USING_OFW
    default y

config RT_SOC_ROCKCHIP_IODOMAIN
    bool "Rockchip IO domain support"
    select RT_MFD_SYSCON
    select RT_USING_REGULATOR
    default y
endif
