menuconfig RT_USING_PINCTRL
    bool "Using Pin controllers device drivers"
    depends on RT_USING_DM
    depends on RT_USING_PIN
    default n

config RT_PINCTRL_ROCKCHIP
    bool "Rockchip gpio and pinctrl driver"
    depends on RT_USING_PINCTRL
    select RT_MFD_SYSCON
    default n
